Name : Akshat Deshmukh

PRN : 25070123008

Batch : ENTC A1

In [ ]:
print('I am Akshat')

I am Akshat

In [ ]:
print('hello world', end='!')
print('i will print on the same line')

hello world!i will print on the same line

In [ ]:
x = 5
y = "hello world"

print(x)
print(y)

5
hello world

In [ ]:
x,y,z = 'orange', 'banana', 'cherry'
print(x)
print(y)

orange
banana

In [ ]:
a = 10
b = 7
print(a+b)
print(a-b)
print(a*b)
print(a/b)

17
3
70
1.4285714285714286

In [ ]:
x = 17
y = 2.18
z = 'python'
flag = False

print(type(x))
print(type(y))
print(type(z))
print(type(flag))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [ ]:
name = input('Enter your name: ')

Enter your name: Akshat

In [ ]:
a = int(input('Enter first number: '))
b = int(input('Enter second number: '))
print(a+b)
print(a-b)
print(a*b)
print(a/b)

Enter first number: 56
Enter second number: 45
101
11
2520
1.2444444444444445

In [1]:
x=int(input("enter value of x="))
import math
area=(math.pi)*x*x
print(area)

enter value of x=5
78.53981633974483